@import 'containers';
@import 'panes';

#ide{
    @extend %horizontal-container;
}

.dev-toolbar{
    @extend %horizontal-container;
}

.dev-footer{
    @extend %horizontal-container;

    flex-direction: row-reverse;
    justify-content: end;
}

#dev-container{
    @extend %vertical-container;
}

#test-container{
    @extend %vertical-container;
}

.code-pane{
    @extend %pane;
    cursor: text;
    white-space: pre;
}

#game-pane{
    @extend %pane;

    background-color: rgb(235, 235, 235);
}

#compilation-output{
    @extend %pane;

    height:100px;
    background-color: beige;
}

#command-pane{
    @extend %horizontal-container;
}

#runtime-pane{
    @extend %horizontal-container;
}

#log-pane{
    @extend %pane;

    background-color: beige;
}

#user-command-text{
    width: 400px;
    height: 40px;
    font-size: large;
    margin:15px;
}

button{
    height: 40px;
    font-size: large;
    margin: 15px;
}